.App {
  text-align: center;
  position:relative;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#movieContainer {
  position:relative;
  height: 100vh;
  width: 100vw;
}

#headerBanner {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  position: absolute;
}

#headerImage{
  margin: 15px;
  position: absolute;
  top: 50px;
  z-index: 1;
}

#headerImageContainer{
  width: 100vw;
  height: 450px;
  display: flex;
  justify-content: center;
}
#movie-details{
  z-index: 1;
  position: absolute;
}

#cardContainer{
  position: absolute;
  top: 50vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#movieCard{
  position: relative;
}

.cardText{
  display: flex;
  justify-content: center;
}

.cardImage{
  height: 240px;
  width: 160px;
  border-radius: 10px;
}
.cardReleaseDate {

}