.App {
  text-align: center;
  position:relative;
}
.SearchBar {
  position: absolute;
  top: 0;
  z-index: 3;
  width: 100vw;
}
#movieContainer {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.headerBannerContainer {
  width: 100vw;
  display: flex;
  height: 450px;
  position: absolute;
  overflow: hidden;
}

.headerBannerBackground{
  position: absolute;
  height: 980px;
  width: 100vw;
  transform: translate(0%,-12%);
}

#headerImageContainer{
  width: 100vw;
  height: 450px;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: 1;
}

#headerImage{
  margin: 15px;
  position: absolute;
  top: 50px;
  z-index: 1;
  transform: translate(-180%,0%);
}

#movie-details{
  z-index: 1;
  position: absolute;
  /* background-color: rgba(0,0,0,0.02); */
  z-index: 1;
  transform: translate(15%,0%);
  top:65px;
  max-width: 700px;
  color:white;
}

.headerGenresUL{
  list-style:none;
  display:inline-flex;
  padding-left: 0px;
  margin-left: 10px;
}

.headerGenresLI{
  margin-right: 10px;
  color:black;
  background-color: white;
  font-weight: bold;
  padding: 5px;
  border-radius: 7px;
}

#cardContainer{
  position: absolute;
  top: 50vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* max-width: 1139px; */
}

.movieCard{
  position: relative;
  margin: 0px 15px 0px 15px;
}

.cardText{
  display: flex;
  justify-content: center;
}

.cardImage{
  height: 240px;
  width: 160px;
  border-radius: 10px;
}
.cardReleaseDate {

}

.categoryLI{
  list-style: none;
  display: inline-flex;
  flex-direction: column;

}

.categoryLI button{
  min-width: 90px;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  border-radius: 5px;
  box-shadow: none;
  border-color: transparent;
}

.categoryLI button:hover{
  min-width: 90px;
  background-color: rgba(255, 0, 0, 0.911);
  color: white;
  border-radius: 5px;
  box-shadow: none;
  border-color: transparent;
}
.watchListContainer{
  z-index: 4;
  overflow: scroll;
  position: absolute;
  right: 0;

}
.watchListCard{
  height: 80px;
  width: 425px;
  overflow: hidden;
  border-radius: 13px;
  position: relative;
}
.watchListCardBackground{
  width: 100%;
  height: 225px;
  transform: translate(0%, -5%);
}
.watchListCardText{
  display: flex;
  z-index: 5;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 100%;
  height: 80px;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .175);
}
.watchListCardRatingSpan{
  
  position: absolute;
  right: 12px;
}
.watchListCardRating{
  border-radius: 30px;
  padding: 15px 10px 15px 10px;
}
.watchListCardTitleSpan{
  position: absolute;
  left: 12px;
  font-size: 25px;
  color: whitesmoke;
}
.eyeBallIcon{
  position: absolute;
  z-index: 1;
  background-color: transparent;
  left: 110px;
  top: 10px
}