.App {
  text-align: center;
  position:relative;
}
.navBar{
  width: 100%;
  background-color: rgb(38, 35, 163);
  height: 60px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: whitesmoke;
  z-index: 5;
}

.movieContainer {
  position: relative;
  height: 100%;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.movie-details{
  position: relative;
  /* background-color: rgba(0,0,0,0.02); */
  transform: translate(15%,0%);
  top: 65px;
  max-width: 700px;
  max-height: 400px;
  color: white;
}

.movie-details span{
  margin-left: 10px;
}

.youtubeFreeMovieLogo{
  position: absolute;
  z-index: 0;
  top: 550px;
  right: 35px;
  width: fit-content;
}

.youtubeFreeMovieLogo img{
  width: 150px;
}


.headerBannerContainer {
  width: 100vw;
  display: flex;
  height: 540px;
  position: relative;
  overflow: hidden;
  top: 60px;
}

.headerDisplayInfoBig{
  position: absolute;
  z-index: 2;
  height: 75px;
  top: 20px;
  left: 25px;
}

.headerDisplayInfoSmall{
  position: absolute;
  z-index: 2;
  height: 35px;
  top: 40px;
  left: 45px;
}

.headerBannerBackground{
  position: absolute;
  height: 600px;
  width: 100%;
  /* transform: translate(0%,-12%); */
}

.headerBannerCompanyLogo{
  position: absolute;
  bottom: 10px;
  left: 25px;
  max-height: 50px;
  display: flex;
  align-items: center;
}

.headerBannerCompanyLogo img{
  max-width: 80px;
  margin-right: 10px;
}

.headerImageContainer{
  width: 100%;
  height: 540px;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 1;
  top: 60px;
  overflow-y: clip;
}

.hidden{
  position: absolute;
  visibility: hidden;
  z-index:-1;
}

.headerImage{
  margin: 15px;
  position: absolute;
  transform: translate(-130%,0%);
}

.headerMovieOverview{
  font-size: 18px;
}


@media only screen and (max-width: 550px) {
  .headerMovieOverview{
    font-size: 16px;
    max-height: 110px;
    overflow: clip;
  }
  .headerGenresDiv{
    overflow: hidden;
    max-height: 120px;
  }
}

.languageContainer{
  position: relative;
  display: inline-flex;
  top: -22px;
  left: 15px;
}

.languageBox{
  position: absolute;
  top: 0;
  width: 30px;
  height: 28px;
}

.languageText{
  position: absolute;
  font-size: 14px;
  top: 0;
  margin: 0;
  width: 30px;
  display: flex;
  justify-content: center;
}

.headerGenresDiv{
  display: inline-flex;
  flex-direction: row;
  align-items: baseline;
}

.headerGenresUL{
  list-style:none;
  display:inline-flex;
  padding-left: 0px;
  margin-left: 10px;
  flex-wrap: wrap;
}

.headerGenresLI{
  margin-right: 10px;
  color:black;
  background-color: white;
  font-weight: bold;
  padding: 5px;
  border-radius: 7px;
  white-space: nowrap;
  margin-bottom: 15px;
}

.headerStatus{
  font-size: 20px;
  font-weight: 700;
  font-style: italic;
}

.headerLinkIcon{
  height: 35px;
  width: 40px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.cardContainer{
  position: relative;
  top: 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 740px;
  /* max-width: 1675px; */
}

.movieCard{
  position: relative;
  margin: 0px 15px 0px 15px;
  width: 160px;
  min-height: 357px;
}

.cardTextContainer{
  display: inline-flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  flex-direction: row;
}

.cardText{
  font-size: 17px;
  font-weight: bold;
}

.cardDate{
  font-size: 15px;
}

.cardImage{
  height: 240px;
  width: 160px;
  border-radius: 10px;
}

.cardReleaseDate {
}

.leftArrow{
  height: 110px;
  transform: rotate(180deg);
  position: absolute;
  left: 20px;
  z-index: 1;
  top: 40%;
  opacity: 0.65;
}
.rightArrow{
  height: 110px;
  position: absolute;
  right: 30px;
  z-index: 1;
  top: 40%;
  opacity: 0.65;
}

.SearchBar {
  position: absolute;
  top: 600px;
  width: 100vw;
  display: inline-flex;
  background-color: rgb(46, 44, 150);
  white-space: nowrap;
  height: 50px;
  /* overflow-x: hidden; */
}

.searchBarCategories{
  padding: 0px;
  margin-top: 0;
  background-color: rgb(38, 35, 163);
  border-radius: 30px;
  height: 50px;
  margin-left: 10px;
  margin-bottom: 0px;
}

.searchBarForm{
  margin-top: 0;
  margin-left: 70px;
  padding: 10px 20px 10px 20px;
  background-color: rgb(38, 35, 163);
  display: flex;
  align-items: center;
  border-radius: 30px;
  position:absolute;
  right:0;
}
.searchBarForm input{
  width: 300px;
  height: 26px;
  border-radius: 10px;
  border-width: 1px;
  border-color: transparent;
}
.searchBarForm button{
  margin-left: 20px;
  width: 100px;
  padding: 5px 10px 5px 10px;
  border-radius: 6px;
  border-width: 1px;
  border-color: transparent;
}

.categoryLI{
  list-style: none;
  display: inline-flex;
  flex-direction: column;
  margin-top: 13px;
  width: 100px;
}
.mainCategoryOptions button{
  width: 100px;
  background-color: rgb(38, 35, 163);
  color: white;
  border-radius: 0px;
  box-shadow: none;
  border-color: transparent;
  margin-bottom: -5px;
}
.mainCategoryOptions button:hover{
  min-width: 100px;
  margin-top: -15px;
  margin-bottom: -15px;
  height: 35px;
  background-color: rgba(255, 0, 0, 0.9);
  color: white;
  border-radius: 25px;
  box-shadow: none;
  border-color: transparent;
  margin-bottom: 0px;
}

.extendedCategoryOptions{
  list-style: none;
  display: inline-flex;
  flex-direction: row;
  transform: translate(0px, 10px);
  min-height: 100px;
  width: 400px;
  flex-wrap: wrap;
  background-color: rgb(38, 35, 163);
  border-radius: 15px;
  padding: 4px;
}

.extendedCategoryOptions button{
  position:relative;
  width: 100px;
  height: 50px;
  background-color: rgb(38, 35, 163);
  color: white;
  border-radius: 0px;
  box-shadow: none;
  border-color: transparent;
  border-radius: 25px;
}

.extendedCategoryOptions button:hover{
  width: 100px;
  margin-top: 0px;
  height: 50px;
  background-color: rgba(255, 0, 0, 0.9);
  color: white;
  border-radius: 25px;
  box-shadow: none;
  border-color: transparent;
}

.watchListContainer{
  z-index: 2;
  overflow: scroll;
  position: absolute;
  right: 0;
  top: 40px;
  background-color: grey;
  padding: 20px;
  border-radius: 20px;
  max-height: 570px;
}
.watchListCard{
  height: 80px;
  width: 425px;
  overflow: hidden;
  border-radius: 13px;
  position: relative;
}
.watchListCardBackground{
  width: 100%;
  height: 225px;
  transform: translate(0%, -5%);
}
.watchListCardText{
  display: flex;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 100%;
  height: 80px;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
}
.watchListCardRatingSpan{
  position: absolute;
  right: 12px;
}
.watchListCardRating{
  border-radius: 30px;
  padding: 15px 10px 15px 10px;
}
.watchListCardRatingLess10{
  border-radius: 30px;
  padding: 15px 13px 15px 13px;
}
.watchListCardTitleSpan{
  position: absolute;
  left: 12px;
  font-size: 25px;
  color: whitesmoke;
}
.eyeBallIcon{
  position: absolute;
  background-color: transparent;
  left: 110px;
  top: 10px
}
.castContainer{ 
  display: flex;
  overflow: scroll;
  width: 100%;
  height: 250px;
  background-color: whitesmoke;
  position: relative;
  top: 0;
  align-items: center;
}
.castCardContainer{
  margin: 0px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}
.castImage{
  height: 165px;
  width: 110px;
}
.castName{
  white-space: nowrap;
}
.MoviePage2Container{
  position: relative;
  width: 100%;
  height: 100%;
  top: 100px;
}
.Review-Movie{
  position: relative;
  top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}
.ReviewCardContainer{
  width: 800px;
  max-height: 350px;
  overflow: hidden;
  position: relative;
  background-color:cadetblue;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 20px;
  overflow: scroll;
}
.AuthorProfile{
  position: relative;
}
.AuthorPicture{
  width: 150px;
  height: 190px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0;
  position: absolute;
  left: 20px;
  top: 70px;
}
.AuthorName {
  display: flex;
  justify-content: center;
}
.DateAndRating{
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: absolute;
  top: 10px;
  right: 10px;
}
.ReviewContentContainer{
  width: 100%;
  height: 300px;
  left: 0;
}
.ReviewContent{
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: row;
  width: 600px;
  left: 200px;
  top: 30px;
}
.CommentForm{
  position: relative;
  top: 80px;
  height: 400;
  width: 808;
  display: flex;
  justify-content: center;
}
.CommentForm form{
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
.ratingInput{
  width: 82px;
  height: 30px;
  position: absolute;
  right: 0;
}
.contentInput{
  width: 800px;
  height: 350px;
}
.reviewFormSubmitButton{
  width: 100%;
  height: 50px;
  margin-top: 20px;
}
.TrailerVideo{
}
.trailerContainer{
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  top: 85px;
}
.watchListCardDelete{
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 5px;
  border-color: transparent;
  box-shadow: none;
}
.watchListToggleContainerShow{
  position: absolute;
  z-index: 5;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  border-radius: 25px;
  width: 55px;
  height: 53px;
  right:25px;
  top: 15px;
}
.watchListToggleContainerHide{
  position: absolute;
  z-index: 5;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  border-radius: 25px;
  width: 180px;
  height: 53px;
  right:25px;
  top: 15px;
}
.watchListToggleContainerHide p{
  margin-right: 10px;
}
.watchListToggleContainerHide img{
  height: 30px;
}
.watchListToggleCounter{
  position: absolute;
  color: red;
  font-weight: 620;
  background-color: transparent;
  border-radius: 5px;
  padding: 0px 4px 0px 4px;
  right: 5px;
  top: 29px;
}

.navLinks {
  position: absolute;
  left: 0;
  margin-left: 10px;
  font-size: large;
}
.navLinks a{
  margin-right: 15px;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  padding: 10px 5px 10px 5px;
}
.navLinks a:hover {
  
  background-color:rgb(252, 156, 11);
}
.navLinks a.active{
  background-color:rgb(252, 156, 11);
}