.App {
  text-align: center;
  position:relative;
}

#movieContainer {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.headerBannerContainer {
  width: 100vw;
  display: flex;
  height: 450px;
  position: absolute;
  overflow: hidden;
}

.headerBannerBackground{
  position: absolute;
  height: 900px;
  width: 100vw;
  transform: translate(0%,-12%);
}

#headerImageContainer{
  width: 100vw;
  height: 450px;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: 1;
}

#headerImage{
  margin: 15px;
  position: absolute;
  top: 50px;
  z-index: 1;
  transform: translate(150%,0%);
}

#movie-details{
  z-index: 1;
  position: absolute;
  /* background-color: rgba(0,0,0,0.02); */
  z-index: 1;
  transform: translate(-20%,0%);
  top:65px;
  max-width: 700px;
  color:white;
}

.headerGenresUL{
  list-style:none;
  display:inline-flex;
  padding-left: 0px;
  margin-left: 10px;
}

.headerGenresLI{
  margin-right: 10px;
  color:black;
  background-color: white;
  font-weight: bold;
  padding: 5px;
  border-radius: 7px;
}

#cardContainer{
  position: absolute;
  top: 50vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* max-width: 1139px; */
}

.movieCard{
  position: relative;
  margin: 0px 15px 0px 15px;
}

.cardText{
  display: flex;
  justify-content: center;
}

.cardImage{
  height: 240px;
  width: 160px;
  border-radius: 10px;
}
.cardReleaseDate {

}