#root{
  height: 100%;
  width: 100%;
  position:relative;
  /* background-color: rgb(15, 15, 15); */
}

.App {
  text-align: center;
  position:relative;
  /* background-color: rgb(15, 15, 15); */
  overflow: auto;
}

.webpageContainer{
  height: 100%;
  position: relative;
  /* background-color: rgb(15, 15, 15); */
  /* overflow: auto; */
}

.navBar{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  height: 80px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: whitesmoke;
  z-index: 5;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.movieContainer {
  position: relative;
  height: 100%;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(35, 35, 35);
}

.movieContainer.active{
  background: rgba(255,255,255,0.10);
  height: 100%;
  width: 100vw;
}

.movie-details{
  position: relative;
  /* background-color: rgba(0,0,0,0.02); */
  transform: translate(15%,0%);
  top: 65px;
  max-width: 700px;
  max-height: 400px;
  color: white;
}

.movie-details span{
  margin-left: 10px;
}

.youtubeFreeMovieLogo{
  position: absolute;
  z-index: 0;
  top: 600px;
  right: 35px;
  width: fit-content;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.youtubeFreeMovieLogo img{
  width: 150px;
}

.crackleIcon{
  position:absolute;
  z-index: 0;
  top: 580px;
  right: 35px;
  width: 65px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.crackleIFrameContainer{
  position:absolute;
  top: 90px;
  z-index: 0;
  overflow: hidden;
  width: 1000px; 
  height: 570px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.crackleIFrame{
  overflow: hidden;
  width: 1000px; 
  height: 650px;
  transform: translate(0, -80px);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.crackleUnderlay{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.97);
  display: flex;
  justify-content: center;
}

.headerBannerContainer {
  width: 100vw;
  display: flex;
  height: 720px;
  position: relative;
  overflow: hidden;
  top: 0px;
}

.headerDisplayInfoBig{
  position: absolute;
  z-index: 2;
  height: 75px;
  top: 90px;
  left: 25px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.headerDisplayInfoSmall{
  position: absolute;
  z-index: 2;
  height: 35px;
  top: 110px;
  left: 45px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.headerBannerBackground{
  position: absolute;
  height: 720px;
  width: 100%;
  /* transform: translate(0%,-12%); */
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.headerImageContainer{
  width: 100%;
  height: 590px;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  z-index: 1;
  top: 80px;
  overflow-y: clip;
}

.hidden{
  position: absolute;
  visibility: hidden;
  z-index: -1;
  width:0px;
  height:0px;
  overflow:hidden;
}

.headerImage{
  margin: 15px;
  position: absolute;
  transform: translate(-130%,0%);
  width: 220px;
  height: 320px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.headerMovieOverview{
  font-size: 18px;
}

@media only screen and (max-width: 550px) {
  .headerMovieOverview{
    font-size: 16px;
    max-height: 110px;
    overflow: clip;
  }
  .headerGenresDiv{
    overflow: hidden;
    max-height: 120px;
  }
}

.languageContainer{
  position: relative;
  display: inline-flex;
  top: -22px;
  left: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.languageBox{
  position: absolute;
  top: 0;
  width: 30px;
  height: 28px;
}

.languageText{
  position: absolute;
  font-size: 14px;
  top: 0;
  margin: 0;
  width: 30px;
  display: flex;
  justify-content: center;
}

.headerGenresDiv{
  display: inline-flex;
  flex-direction: row;
  align-items: baseline;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.headerGenresUL{
  list-style:none;
  display:inline-flex;
  padding-left: 0px;
  margin-left: 10px;
  flex-wrap: wrap;
}

.headerGenresLI{
  margin-right: 10px;
  color:black;
  background-color: white;
  font-weight: bold;
  padding: 5px;
  border-radius: 7px;
  white-space: nowrap;
  margin-bottom: 15px;
}

.headerStatus{
  font-size: 20px;
  font-weight: 700;
  font-style: italic;
}

.headerLinkIcon{
  height: 35px;
  width: 40px;
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.popOutDetails{
  width: 200px;
  height: 200px;
  position: absolute;
  z-index: 5;
  background-color: red;
}

.noResults{
  position: relative;
  display: flex;
  margin-top: 80px;
  margin-bottom: 101px;
  flex-direction: column;
  align-items: center;
  width:100%;
  color: whitesmoke;
}

.noResults h1{
  color: red;
  text-align: center;
}

.cardContainer{
  position: relative;
  margin-top: 35px;
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.loadingOrangeDiv{
  position:sticky;
  top: 45%;
  height:100%;
  display: flex;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.loadingOrangeImage{
  margin: 50px 0px 80px 0px;
  height: 250px;
}

.movieCardsContainer{
  position: relative;
  top: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  min-height: 1000px;
  justify-content: center;
  width:100%;
  margin-bottom: 30px;
  /* transform: translate(-9px, 0px); */
}

.movieCard{
  position: relative;
  margin: 0px 15px 0px 15px;
  width: 160px;
  min-height: 357px;
}

.cardTextContainer{
  display: inline-flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  flex-direction: row;
  color: whitesmoke;
}

.cardText{
  font-size: 17px;
  font-weight: bold;
}

.cardDate{
  font-size: 15px;
}

.cardImage{
  height: 240px;
  width: 160px;
  border-radius: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.cardReleaseDate {
}

.arrowsContainer{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.leftArrow{
  height: 110px;
  transform: rotate(180deg) translateY(-100px);
  position: sticky;
  left: 20px;
  z-index: 1;
  top: 45%;
  opacity: 0.70;
  float: left;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.rightArrow{
  height: 110px;
  transform: translateY(100px);
  position: sticky;
  right: 20px;
  z-index: 1;
  top: 45%;
  opacity: 0.70;
  float: right;
}

.SearchBar {
  position: absolute;
  top: 670px;
  width: 100vw;
  display: inline-flex;
  background-color: rgba(10,10,10,1);
  white-space: nowrap;
  height: 50px;
  /* overflow-x: hidden; */
}

.searchBarCategories{
  padding: 0px;
  margin-top: 0;
  background-color: rgba(10,10,10,1);
  /* border-radius: 30px; */
  height: 50px;
  margin-left: 10px;
  margin-bottom: 0px;
}

.searchBarForm{
  margin-top: 0;
  margin-left: 70px;
  padding: 10px 20px 10px 20px;
  background-color: rgba(10,10,10,1);
  display: flex;
  align-items: center;
  border-radius: 30px;
  position:absolute;
  right:0;
}
.searchBarForm input{
  width: 300px;
  height: 26px;
  border-radius: 10px;
  border-width: 1px;
  border-color: transparent;
}

.searchBarForm button{
  margin-left: 20px;
  width: 100px;
  padding: 5px 10px 5px 10px;
  border-radius: 6px;
  border-width: 1px;
  border-color: transparent;
}

.categoryLI{
  position:relative;
  list-style: none;
  display: inline-flex;
  flex-direction: column;
  margin-top: 13px;
  width: 100px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.mainCategoryOptions button{
  width: 100px;
  background-color: rgba(10,10,10,1);
  color: white;
  border-radius: 6px;
  box-shadow: none;
  border-color: transparent;
  margin-bottom: -5px;
  font-size: 14px;
}

.mainCategoryOptions button:focus{
  min-width: 100px;
  margin-top: -15px;
  margin-bottom: -25px;
  height: 38px;
  background-color: rgba(255, 127, 39, 0.9);
  color: white;
  border-radius: 25px;
  box-shadow: none;
  border-color: transparent;
}

.mainCategoryOptions button:hover{
  min-width: 100px;
  margin-top: -15px;
  margin-bottom: -25px;
  height: 38px;
  background-color: rgba(255, 127, 39, 0.9);
  color: white;
  border-radius: 25px;
  box-shadow: none;
  border-color: transparent;
}

.extendedCategoryOptions{
  position:absolute;
  left:0;
  top: 100%;
  list-style: none;
  display: inline-flex;
  flex-direction: row;
  transform: translateY(15px);
  min-height: 100px;
  width: 400px;
  flex-wrap: wrap;
  background-color: rgba(10, 10, 10, 1);
  padding: 5px;
  border-radius: 20px;
}

.extendedCategoryOptions button{
  position:relative;
  width: 100px;
  height: 50px;
  background-color: rgba(10, 10, 10, 0.9);
  color: white;
  border-radius: 2.5px;
  box-shadow: none;
  border-color: transparent;
}

.extendedCategoryOptions button:hover{
  width: 100px;
  margin-top: 0px;
  height: 50px;
  background-color: rgba(255, 127, 39, 0.9);
  color: white;
  border-radius: 25px;
  box-shadow: none;
  border-color: transparent;
}

.watchListContainer{
  z-index: 2;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 85px;
  background-color: grey;
  padding: 20px;
  border-radius: 20px;
  max-height: 570px;
}
.watchListCard{
  height: 80px;
  width: 425px;
  overflow: hidden;
  border-radius: 13px;
  position: relative;
}
.watchListCardBackground{
  width: 100%;
  height: 225px;
  transform: translate(0%, -5%);
}
.watchListCardText{
  display: flex;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 100%;
  height: 80px;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
}
.watchListCardRatingSpan{
  position: absolute;
  right: 12px;
}
.watchListCardRating{
  border-radius: 30px;
  padding: 15px 10px 15px 10px;
}
.watchListCardRatingLess10{
  border-radius: 30px;
  padding: 15px 13px 15px 13px;
}
.watchListCardTitleSpan{
  position: absolute;
  left: 12px;
  font-size: 25px;
  color: whitesmoke;
}

.watchListCardDelete{
  position: absolute;
  left: 0px;
  top: 0px;
  border-bottom-right-radius: 5px;
  border-color: transparent;
  box-shadow: none;
}

.watchListToggleImage{
  height: 25px;
}

.watchListToggleContainerShow{
  position: absolute;
  z-index: 5;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  background-color: rgb(65, 161, 0);
  border-radius: 25px;
  width: 55px;
  height: 53px;
  right:25px;
  top: 15px;
}

.watchListToggleContainerHide{
  position: absolute;
  z-index: 5;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  background-color: rgb(65, 161, 0);
  border-radius: 25px;
  width: 180px;
  height: 53px;
  right:25px;
  top: 15px;
}
.watchListToggleContainerHide p{
  margin-right: 10px;
  color: rgba(10, 10, 10, 1);
  font-size: 16px;
  font-weight: 500;
}
.watchListToggleContainerHide img{
  height: 28px;

}
.watchListToggleCounter{
  position: absolute;
  color: rgb(255, 136, 0);
  font-weight: 620;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 0px 4px 0px 4px;
  right: 0px;
  bottom: 0px;
}

.eyeBallIcon{
  position: absolute;
  background-color: transparent;
  left: 110px;
  top: 10px;
  height: 25px;
  opacity: 0.40;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.eyeBallIcon:hover{
  opacity: 1;
}

.castContainer{ 
  display: flex;
  cursor: grab;
  overflow: auto;
  width: 100%;
  height: 250px;
  background-color: rgba(35,35,35,1);
  position: relative;
  top: 0;
  align-items: center;
  justify-content: space-between;
}

.castContainer.active{ 
  background: rgba(255,255,255,0.15);
  cursor:grabbing;
  cursor: -webkit-grabbing;
}

.castContainer::-webkit-scrollbar {
  height: 6px;
}

.castContainer::-webkit-scrollbar-track {
  height: 6px;
  background-color: rgb(10, 10, 10);
}

.castContainer::-webkit-scrollbar-thumb {
  width: 20px;
  background-color:rgb(65, 161, 0);
}


.castCardContainer{
  margin: 0px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  color: whitesmoke;
}

.castImage{
  height: 165px;
  width: 110px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.castName{
  white-space: nowrap;
}

.castContainer button{
  height: 185px;
  white-space: nowrap;
  border-radius: 20px;
  border-width: 1px;
  box-shadow: none;
  padding: 0px 30px 0px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.castContainer p{
  margin: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.MoviePage2Container{
  position: relative;
  width: 100%;
  height: 100%;
  top: 0px;
  background-color: rgba(10,10,10,1);
}

.extraMovieInfoContainer{
  width: 100%;
  height: 200px;
  background-color: rgb(15, 15, 15);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-weight: 600;
}

.sectionB{
  position: relative;
  display: flex;
  width: 66%;
  height: 93%;
  flex-direction: column;
}

.topSection{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.columnA{
  position: relative;
  display: flex;
  width: 33%;
  height: 93%;
  background-color: rgb(35, 35, 35);
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
}

.columnB{
  position: relative;
  display: flex;
  width: 50%;
  height: 100%;
  background-color: rgb(35, 35, 35);
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
}

.columnC{
  position: relative;
  display: flex;
  width:  50%;
  height: 100%;
  background-color: rgb(35, 35, 35);
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  margin-left: 6px;
}

.columnD{
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgb(35, 35, 35);
  border-radius: 6px;
  flex-direction: row;
  margin-top: 6px;
  align-items: center;
  flex-wrap: nowrap;
}

.columnD.active{ 
  background: rgba(255,255,255,0.15);
  cursor:grabbing;
  cursor: -webkit-grabbing;
}

.columnD::-webkit-scrollbar {
  height: 0.1rem;
  width: 0.1rem;
}

.columnD::-webkit-scrollbar-track {
  height: 0.1rem;
  background-color: rgb(10, 10, 10);
}

.columnD::-webkit-scrollbar-thumb {
  background-color:rgb(65, 161, 0);
}

.extraMovieInfoContainer label{
  margin-top: 10px;
}


.extraInfoDetailContainer{
  background-color: rgb(35, 35, 35);
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
}

.extraInfoDetailContainer p{
  padding: 0px 15px 0px 15px;
  display: inline-flex;
}

.financesContainer{
  height: fit-content;
  border-radius: 25px;
  position: relative;
  top: 15px;
}

.financesItems{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.profit{
  color: green;
}
.loss{
  color: red;
}
.neutral{
  color: yellow;
}

.productionContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}

.flagContainer{
  display: flex;
  flex-direction: row;
}

.flagImage{
  height: 40px;
  margin-left: 8px;
}

.companyLogo{
  position: relative;
  max-height: 50px;
  display: flex;
  align-items: center;
  /* z-index: 1; */
}

.companyLogo img{
  height: 50px;
  margin-right: 15px;
  margin-left: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.logoPFiller{
  margin: 0px 5px 0px 5px;
  max-width: 120px;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.reviewSectionA{
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: row;
}

.Review-Movie{
  position: relative;
  margin-top: 20px;
  display: flex;
  background-color: rgba(10,10,10,1);
  width: 50%;
  flex-direction: column;
  flex-wrap: nowrap;
}

.reviewColumnA{
  position: relative;
  margin: 20px 20px 20px 0px;
  display: flex;
  background-color: rgba(35,35,35,1);
  width: 50%;
  flex-direction: column;
  flex-wrap: nowrap;
  border-radius: 20px;
}

.ReviewCardContainer{
  width: 100%;
  min-width: 790px;
  max-height: 350px;
  overflow: hidden;
  position: relative;
  color: whitesmoke;
  background-color:rgb(35, 35, 35);
  margin-bottom: 20px;
  /* padding: 10px; */
  border-radius: 20px;
}

.AuthorProfile{
  position: relative;
}

.AuthorPicture{
  width: 150px;
  height: 190px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0;
  position: absolute;
  left: 20px;
  top: 70px;
}
.AuthorName {
  display: flex;
  justify-content: center;
}
.DateAndRating{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: absolute;
  top: 10px;
}

.Date{
  position: absolute;
  left: 200px;
}

.Rating{
  position: absolute;
  right: 15px;
}

.ReviewContentContainer{
  width: 100%;
  height: 300px;
  left: 0;
}

.ReviewContent{
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: row;
  width: 70%;
  left: 200px;
  top: 30px;
}

.readMoreContainer{
  position: absolute;
  bottom: 15px;
  right: 50px;
}

.readMoreBtn{
  height: 40px;
  width: 550px;
  font-size: 24px;
  border-radius: 10px;
  box-shadow: none;
  border: none;
  background-color: rgba(65, 161, 0, 0.7);
  color: whitesmoke;
}

.CommentForm{
  position: relative;
  /* top: 80px; */
  height: 400;
  width: 808;
  display: flex;
  justify-content: center;
  background-color: rgba(10,10,10,1);
  margin-bottom: 30px;
}
.CommentForm form{
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
.ratingInput{
  width: 82px;
  height: 30px;
  position: absolute;
  right: 0;
}
.contentInput{
  width: 800px;
  height: 350px;
}
.reviewFormSubmitButton{
  width: 100%;
  height: 50px;
  margin-top: 20px;
}
.TrailerVideo{
}
.trailerContainer{
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  top: 120px;
}


.navLinks {
  position: absolute;
  left: 0;
  margin-left: 10px;
  font-size: large;
  font-weight: 550;
}
.navLinks a{
  margin-right: 15px;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  padding: 10px 5px 10px 5px;
  font-size: large;
}
.navLinks a:hover {
  background-color:rgb(65, 161, 0);
}
.navLinks a.active{
  background-color:rgb(65, 161, 0);
  font-weight: 750;
}